:root {
    --textBtn: #FF52C12A;
    --fondBtn: #FF52C1;
    --shadow1: #00000018;
    --shadow2: #0000001A;
    --shadow3: #00252E39;
    --socnet: #DFE4F0;
    --textTitle: #00252E;
    --text: #808E9A;
    --white: #fff;
}

/* TYPO */

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 3.4rem;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--textTitle);
    margin-bottom: 2rem;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--text);
}

@media screen and (max-width: 25em) {
    h1 {
        font-size: 2.4rem;
        max-width: 28rem;
        margin-bottom: 2.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .text {
        font-size: 1.4rem;
        line-height: 1.5;
        margin-bottom: 3rem;
    }
}

/* LAYOUT */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
}

@media screen and (max-width: 25em) {
    .container {
        max-width: 34.3rem;
    }
}

/* HEADER */

.site-head {
    background-image: url("../img/hero_bg.svg");
    background-position: center;
    min-height: 70vh;
    padding-top: 4.8rem;
    padding-bottom: 7rem;
}
    
.logo {
    width: 20rem;
    height: 3.1rem;
    background-image: url("../img/color_logo_transparent_copy.png");
    background-size: cover;
}

.cta-try {
    display: flex;
    justify-content: center;
    border-radius: 5rem;
    border: 0;
    padding: 1.4rem 6.5rem;
    background-color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    box-shadow: 0 .3rem 1.1rem var(--shadow1);
    text-decoration: none;
    color: #00252E;
}

.cta-try:hover {
    background-color: var(--socnet);
    color: #00252E;
}

@media screen and (max-width: 25em) {
    .site-head {
        padding-top: 3rem;
        padding-bottom: 3.7rem;
    }

    .logo {
        width: 10.4rem;
        height: 1.6rem;
    }

    .cta-try {
        border-radius: 2.5rem;
        padding: .5rem 2.3rem;
        background-color: var(--white);
        font-size: 1rem;
        box-shadow: 0 .2rem .7rem var(--shadow1);
    }
}

/* HERO */
.hero {
    margin-top: 7.1rem;
}

.presentation {
    margin-right: 5.4rem;
}

.hero-text {
    margin-bottom: 3rem;
    color: var(--textTitle);
}

.cta-free {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--white);
    background-color: var(--fondBtn);
    border: 0;
    padding: 1.8rem 7rem;
    border-radius: 5rem;
    text-decoration: none;
}

.cta-free:hover {
    background-color: var(--textBtn);
    color: #808E9A;
}

@media screen and (max-width: 25em) {

    .hero > .container {
        display: flex;
        flex-wrap: wrap;
        max-width: 30.4rem;
    }
    
    .presentation {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 0;
        text-align: center;
        margin-bottom: 5.6rem;
    }

    .hero-text {
        font-size: 1.6rem;
    }

    .cta-free {
        font-size: 1.2rem;
        padding: 1.15rem 6rem;
        border-radius: 2rem;
    }

    .visuel {
        max-width: 30rem;
        min-height: 21rem;
    }

    .hero {
        margin-top: 8rem;
    }

}

/* FEATRUES */
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 123rem;
    margin: 0 auto;
    padding-left: 12rem;
    padding-right: 2rem;

    border-radius: 1.6rem;
    box-shadow: 0 0 1.6rem var(--shadow2);
}

.item-reverse {
    flex-direction: row-reverse;
}

.features-items {
    display: grid;
    gap: 4.1rem;
}

.image-box {
    width: 44rem;
    height: 44rem;
}

.text-box {
    width: 45%;
}

.features {
    padding-top: 16rem;
}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 8rem;

    background-color: var(--white);
    max-width: 80rem;
    margin: 0 auto;
    padding: 5.5rem 0;

    border-radius: 1.5rem;
    box-shadow: 0 0 1.6rem var(--shadow2);
}

.section-title {
    margin-bottom: 0;
}

.action > .cta-free {
    box-shadow: 0 .6rem 1.3rem var(--shadow3);
    margin-top: 4.6rem;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
}

.action > .cta-free:hover {
    color: var(--text);
}

@media screen and (max-width: 25em) {

    .features {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    
    .item {
        flex-direction: column;
        border-radius: 1.6rem;

        box-shadow: 0 0 1.6rem var(--shadow2);
        padding-left: 4rem;
        padding-right: 4rem;
        max-width: 33.5rem;
        margin: 0 auto;
        justify-content: center;
    }

    .features-items {
        display: grid;
        gap: 4.1rem;
    }

    .image-box {
        width: 25.6rem;
        height: 25.6rem;
        padding: 3.1rem 1rem;
        margin-bottom: 2.5rem;
    }

    .text-box {
        width: 25.6rem;
        text-align: center;
    }

    .text {
        font-size: 1.4rem;

    }

    .item-title {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1.8rem;
    }
    
    .action {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 12rem;
    
        background-color: var(--white);
        max-width: 35.2rem;
        margin: 0 auto;
        padding: 4.1rem 0;
    
        border-radius: 1.5rem;
        box-shadow: 0 0 1.6rem var(--shadow2);
    }
    
    .action > .cta-free {
        box-shadow: 0 .3rem .7rem var(--shadow3);
        margin-top: 2.4rem;
        font-size: 1rem;
        padding: 1.3rem 5rem;
    }
    
    .action > .cta-free:hover {
        color: var(--text);
    }
}

/* FOOTER */
.site-foot {
    background-color: var(--textTitle);
}

.ctnr-footer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    row-gap: 4rem;
    column-gap: 12rem;

    padding-top: 19rem;
    padding-bottom: 6.4rem;
}

.contacts {
    grid-area: 2/1/2/1;

    display: flex;
    flex-direction: column;
    max-width: 38rem;
}

.cncts-item {
    display: flex;
    align-items: flex-start;
}

.text-contact {
    font-size: 1.6rem;
    padding-left: 1em;
    margin-bottom: 2em;
    color: var(--white);
    width: 34rem;
}

.menu-footer {
    grid-area: 2/2/2/2;
    align-self:start;

    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 12.3rem;
}

.about {
    display: grid;
    grid-template-rows: repeat(3, 3rem);
    row-gap: 2.5rem;
}

.link {
    color: var(--white);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
}

.link:hover {
    color: var(--text);
}

.social-network {
    grid-area: 2/3/2/3;
    align-self: start;

    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(3, 3.1rem);
}

.sn-item {
    display: grid;
    place-items: center;
    border: .09rem solid var(--socnet);
    border-radius: 50%;
    width: 3.1rem;
    height: 3.1rem;
}

.btn:hover {
    background-color: var(--text);
}

.legal-mentions {
    grid-area: 3/3/3/3;
    justify-self: start;

    font-family: 'Poppins', 'sans-serif';
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 400;
}

@media screen and (max-width: 25em) {

    .ctnr-footer {
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-template-columns: 35rem;
        row-gap: 2.5rem;

        background-color: var(--textTitle);
        padding-top: 13.9rem;
        padding-bottom: 4.8rem;
    }

    .logo-site {
        grid-area: 1;

        width: 15.9rem;
        height: 2.5rem;
    }

    .contacts {
        margin-bottom: 1.2rem;
    }

    .text-contact {
        grid-area: 2;

        margin-bottom: 2.6rem;
    }

    .menu-footer {
        grid-area: 3/1/span 2/1;

        grid-template-rows: repeat(2, auto);
        row-gap: 2.5rem;

        margin-bottom: 3rem;
    }

    .first {
        grid-area: 1;
    }

    .second {
        grid-area: 2;
    }

    .social-network {
        grid-area: 5;

        justify-self: center;
    }

    .legal-mentions {
        grid-area: 6;

        justify-self: center;
    }

}